.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
.idea/*.*
.idea/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/.idea/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/chain-safe-web.iml
/.idea/workspace.xml
/static/config/index.js
